<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ImageWidth" value="420"/>
    <add key="ImageHeight" value="840"/>
    <add key="BaseURL" value="http://game-a1.granbluefantasy.jp/assets/img/sp/assets/comic/episode/episode"/>
  </appSettings>
</configuration>